<div class="container">
  <legend class="text-left"><%= @collection["name"] %></legend>
  <form class='form-horizontal' >   
    <fieldset>

      <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-9 top-seven">
          : <%= @collection["description"] %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Created at</label>
        <div class="col-md-9 top-seven">
          : <%= @collection["created_at"] %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Last activity at</label>
        <div class="col-md-9 top-seven">
          : <%= @collection["updated_at"] %>
        </div>
      </div>    

      <div class="form-group">
        <label class="col-md-2 control-label">Number of records</label>
        <div class="col-md-9 top-seven">
         :  <%= @collection["total_site"] %>
        </div>
      </div>
          
    </fieldset>
  </form>
  <br />
  <h4>Members list</h4>
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>Email</th>
      <th>Previlege admin</th>
      <th>#site can update</th>
      <th>#site can read</th>
      <th>#site can't access</th>
    </thead>
    <% @collection["list_member"].each do |c| %>     
      <tbody>
        <tr>
          <td><%= c["email"] %></td>
          <td><%= c["is_admin"]? "Yes" : "No" %></td>
          <td><%= c["number_site_can_update"] %></td>
          <td><%= c["number_site_can_read"] %></td>
          <td><%= c["number_site_cannot_access"] %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<script>
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'})
</script>