<div class="container">
  <legend class="text-left">Collection List</legend>
  <div class="well">
    <div class="row"  style="margin:0px;">
      <div class="col-lg-2">
        Collection Name
        <input type="text" id="name" class ="form-control" required ="required" value="<%= params[:name]%>" />
      </div>
      <div class="col-lg-2">
        Member
        <input type="text" id="email" class ="form-control" required ="required" value="<%= params[:email]%>"/>
      </div>
      <div class="col-lg-3">
        From Created Collection Date
        <input type="text" id="from" class ="form-control datepicker" required ="required" value="<%= params[:from]%>"/>
      </div>
      <div class="col-lg-2">
        To Date
        <input type="text" id="to" class="form-control datepicker" required ="required" value="<%= params[:to]%>"/>
      </div>
      <div class="col-lg-2" style="padding-top: 20px;">
        <a type="button" href="javascript:void(0)" onclick="submitData()">
          <span style="border-radius: 20px;" class="btn btn-info"><i class="glyphicon glyphicon-search"></i> Search</span>
        </a>
      </div>
    </div>
  </div>
  <%= will_paginate @paging, :param_name => 'collection_page', renderer: BootstrapPagination::Rails %>
  <div>
    <span class="badge" style="padding:5px;margin-right:5px;">Display record : <%= @paging.size %> / <%= @paging.total_entries %>
    </span>
  </div>
  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>
        <ul class="nav navbar-nav navbar-left">
          <% if params[:sortColumn] == "name" and params[:sortType] == "DESC" %>
            <li class="dropup">
              <a href="javascript:void(0)" onclick="sortHeader('name', 'ASC')" class="dropdown-toggle" data-toggle="dropdown"> Name <b class="caret"></b></a>
          <% elsif params[:sortColumn] == "name" and params[:sortType] == "ASC" %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('name', 'DESC')" data-toggle="dropdown"> Name <b class="caret"></b></a>
          <% else %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('name', 'DESC')" data-toggle="dropdown"> Name </a>
          <% end %>
          </li>
        </ul>
      </th>
      <th>
        <ul class="nav navbar-nav navbar-left">
          <% if params[:sortColumn] == "created_at" and params[:sortType] == "DESC" %>
            <li class="dropup">
              <a href="javascript:void(0)" onclick="sortHeader('created_at', 'ASC')" class="dropdown-toggle" data-toggle="dropdown"> Created at <b class="caret"></b></a>
          <% elsif params[:sortColumn] == "created_at" and params[:sortType] == "ASC" %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('created_at', 'DESC')" data-toggle="dropdown"> Created at <b class="caret"></b></a>
          <% else %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('created_at', 'DESC')" data-toggle="dropdown"> Created at </a>
          <% end %>
          </li>
        </ul>
      </th>
      <th>
        <ul class="nav navbar-nav navbar-left">
          <% if params[:sortColumn] == "updated_at" and params[:sortType] == "DESC" %>
            <li class="dropup">
              <a href="javascript:void(0)" onclick="sortHeader('updated_at', 'ASC')" class="dropdown-toggle" data-toggle="dropdown"> Last activity at <b class="caret"></b></a>
          <% elsif params[:sortColumn] == "updated_at" and params[:sortType] == "ASC" %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('updated_at', 'DESC')" data-toggle="dropdown"> Last activity at <b class="caret"></b></a>
          <% else %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('updated_at', 'DESC')" data-toggle="dropdown"> Last activity at </a>
          <% end %>
          </li>
        </ul>
      </th>
      <th>
        <ul class="nav navbar-nav navbar-left">
          <% if params[:sortColumn] == "member" and params[:sortType] == "DESC" %>
            <li class="dropup">
              <a href="javascript:void(0)" onclick="sortHeader('member', 'ASC')" class="dropdown-toggle" data-toggle="dropdown"> #members <b class="caret"></b></a>
          <% elsif params[:sortColumn] == "member" and params[:sortType] == "ASC" %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('member', 'DESC')" data-toggle="dropdown"> #members<b class="caret"></b></a>
          <% else %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('member', 'DESC')" data-toggle="dropdown"> #members</a>
          <% end %>
          </li>
        </ul>
      </th>
      <th>
        <ul class="nav navbar-nav navbar-left">
          <% if params[:sortColumn] == "record" and params[:sortType] == "DESC" %>
            <li class="dropup">
              <a href="javascript:void(0)" onclick="sortHeader('record', 'ASC')" class="dropdown-toggle" data-toggle="dropdown"> #records <b class="caret"></b></a>
          <% elsif params[:sortColumn] == "record" and params[:sortType] == "ASC" %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('record', 'DESC')" data-toggle="dropdown"> #records<b class="caret"></b></a>
          <% else %>
            <li class="dropdown">
              <a href="javascript:void(0)" onclick="sortHeader('record', 'DESC')" data-toggle="dropdown"> #records</a>
          <% end %>
          </li>
        </ul>
      </th>
    </thead>
    <% if @collections.size > 0 %>
      <% @collections.each do |c| %>     
        <tbody>
          <tr>
            <td><%= link_to c["name"], "/collections/#{c["id"]}", :method => :get %></td>
            <td><%= c["created_at"] %></td>
            <td><%= c["updated_at"] %></td>
            <td align="center"><%= c["total_member"] %></td>
            <td align="center"><%= c["total_site"] %></td>
          </tr>
        </tbody>
      <% end %>
    <% else %>
      <td colspan="5" align="center">
        No record to display
      </td>
    <% end %>
  </table>
  <div>
    <span class="badge" style="padding:5px;margin-right:5px;">Display record : <%= @paging.size %> / <%= @paging.total_entries %>
    </span>
  </div>
  <%= will_paginate @paging, :param_name => 'collection_page', renderer: BootstrapPagination::Rails %>
</div>
<div style="display:none;">
  <input type="hidden" id="paramName" value="<%= params[:name]%>" />
  <input type="hidden" id="paramEmail" value="<%= params[:email]%>"/>
  <input type="hidden" id="paramFrom" value="<%= params[:from]%>"/>
  <input type="hidden" id="paramTo" value="<%= params[:to]%>"/>
  <input type="hidden" id="paramSortColumn" value="<%= params[:sortColumn]%>"/>
  <input type="hidden" id="paramSortType" value="<%= params[:sortType]%>"/>
</div>
<script>
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'})
</script>