/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

.top-five{
  margin-top: 5px;
}

.top-seven{
  margin-top: 7px;
}


.longbutton{
  padding: 10px 70px;
}

.form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.footer-page{
  height: 60px;
  padding-top: 20px;
  color: white;
}

.subtitle{
	font-size: 30px;
	color: blue;
	padding-top: 10px;
	margin-top: 60px;
}

.hrfooter {
	margin: 0px;
}

.right-menu{
	font-size: 12px;
	margin-top: 15px;
}

.sabay-header{
  background-image: none;
  border: 1px solid #d4d4d4;
  border-radius: 0px;
  min-height: 60px;
}

.row {
	margin: 40px 0px 40px 0px;
}

footer {
	background-color: GREEN;
  bottom: 0;
  position: relative;
  width: 100%;
}

.navbar-collapse {
  position: relative;
  padding-top: 30px !important;
  max-height: 270px;
}
.navbar-collapse form[role="search"] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 0;
}
.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
  padding: 8px 12px;
  border-radius: 0px;
  border-width: 0px;
  color: rgb(119, 119, 119);
  background-color: rgb(248, 248, 248);
  border-color: rgb(231, 231, 231);
  box-shadow: none;
  outline: none;
}
.navbar-collapse form[role="search"] input {
  padding: 16px 12px;
  font-size: 14pt;
  font-style: italic;
  color: rgb(160, 160, 160);
  box-shadow: none;
}
.navbar-collapse form[role="search"] button[type="reset"] {
  display: none;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

@media (min-width: 768px) {
  .navbar-collapse {
    padding-top: 0px !important;
    padding-right: 38px !important;
  }
  .navbar-collapse form[role="search"] {
    width: 38px;
  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px;
  }
  .navbar-collapse form[role="search"] input {
    padding: 25px 12px;
    font-size: 18pt;
    opacity: 0;
    display: none;
  }
  .navbar-collapse form[role="search"].active {
    width: 100%;
  }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
    .navbar-collapse form[role="search"].active input {
    width: 100%;
  }
}

.header_sort {
  padding-top:10px;
}

